<!-- <div class="dashboard-container">
    <div class="tabs">
      <button (click)="setActiveTab('users')" [class.active]="activeTab === 'users'">
        Users
      </button>
      <button (click)="setActiveTab('groups')" [class.active]="activeTab === 'groups'">
        Groups
      </button>
    </div>
  
    <div class="content">
      <app-users-list *ngIf="activeTab === 'users'"></app-users-list>
      <app-groups-list *ngIf="activeTab === 'groups'"></app-groups-list>
    </div>
  </div>
   -->